{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
{{ 'sliderswiper.css' | asset_url | stylesheet_tag }}

<div class="page-width isolate">
	<div class="swiper">
		<h2>{{ section.settings.title | escape }}</h2>
		<div class="swiper-wrapper">

		</div>
	</div>
</div>

<script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>

{% schema %}
{
	"name": "Slider",
	"class": "swiper__section",
  "tag": "section",
	"settings": [
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Logo list"
		}
	],
	"blocks": [
		{
			"type": "slide",
			"name": "slide_name",
			"limit": 5,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Slider title",
			"settings": {
				"title": "Slider"
			},
			"blocks": [
				{
          "type": "slide"
        },
        {
          "type": "slide"
        }
			]
		}
	]
}
{% endschema %}
